* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: white;
  }
  
  .form-register {
    width: 580px;
    background: #e7e5e5;
    padding: 60px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(14, 14, 14);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #88cf79;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #48bb32;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(7, 7, 7);
  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: rgb(29, 128, 25);
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: rgb(20, 77, 9);
    text-decoration: underline;
  }
  
  .form-register .botons {
    width: 100%;
    background: #f8e21a;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }



